/* lg */ 
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	.services-container .col-sm-2{
		width: 20% !important;
		float: right;
	}
	.appstore-containers .col-sm-3{
		width: 40%; !important;
		float: right;
	}
	.appstore-containers .col-sm-5{
		display: none;
	}
	.appstore-containers .col-sm-4{
		width: 60% !important;
		float: right;
	}

	.top-footer{
		height: auto !important;
	}
	.top-footer .col-sm-2,.top-footer .col-sm-3{
		width: 30% !important;
		float: right;
	}
	.top-footer .col-sm-4{
		width: 40% !important;
		float: right;
	}
	.top-footer .col-sm-3:first-child{
		width: 100% !important;
	}
	.top-footer .col-sm-3 .footer-logo{
		text-align: center;
	}
	.follow-us{
		margin-top: 35px;
	}
	.footer-ma3rof{
		margin-left: 0;
	}
	.footer-ma3rof img{
		width: 120px;
	}
	.bottom-header .col-lg-9{
		width: 80%;
		float: right;
	}
	.bottom-header .col-lg-3{
		width: 20%;
		float: right;
	}
	.search-div input{
		width: 120px;
	}
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
 	.navbar-right li a {
		font-size: 12px;
		padding-right: 10px;
	}
	.services-container .col-sm-2{
		width: 25% !important;
		float: right;
	}
	.news-container .col-sm-3,
	.one-facility-container .col-sm-3,
	.one-partners-container .col-sm-4,
	.banners-containers .col-sm-4,
	.projects .col-sm-4{
		width: 49% !important;
		float: right;
		margin-right: 1%;
		margin-bottom: 15px;
	}
	.news-container .news-img img {
		width: 100%;
		margin-top: 20px;
	}

	.appstore-containers{
		background: none;
	}


	.appstore-containers .col-sm-3{
		width: 40%; !important;
		float: right;
	}
	.appstore-containers .col-sm-5{
		display: none;
	}
	.appstore-containers .col-sm-4{
		width: 60% !important;
		float: right;
	}
	.top-footer{
		height: auto !important;
	}
	.top-footer .col-sm-2,.top-footer .col-sm-3{
		width: 30% !important;
		float: right;
	}
	.top-footer .col-sm-4{
		width: 40% !important;
		float: right;
	}
	.top-footer .col-sm-3:first-child{
		width: 100% !important;
	}
	.top-footer .col-sm-3 .footer-logo{
		text-align: center;
	}
	.follow-us{
		margin-top: 35px;
	}
	.footer-ma3rof{
		margin-left: 0;
	}
	.footer-ma3rof img{
		width: 120px;
	}


	.facility-register-form .input-group p {
		width: 15% !important;
	}

	.facility-register-form .input-group label.pull-left {
		width: 20% !important;
	}

	.facility-register-form .input-group input[type='text'],
	.facility-register-form .input-group textarea,
	.facility-register-form .input-group .main_button,
	.facility-register-form .input-group input[type='password'],
	.facility-register-form .input-group input[type='email'],
	.facility-register-form .input-group .select-continer,
	.facility-register-form .input-group .input-with-icon{
		width: 65% !important;
	}
	.facility-register-form  .input-group .pull-left:nth-child(4) {
		width: 35% !important;
	}
	.facility-register-form .input-group .input-with-icon input {
		width: 100% !important;
	}


}

/* xs */
@media (max-width: 767px) {
	body {
		font-size: 14px;
	}

	.news-container .col-sm-3,
	.one-facility-container .col-sm-3,
	.one-partners-container .col-sm-4,
	.one-news-container .one-news,
	.banners-containers  .col-sm-4,
	.projects .col-sm-4{
		width: 49% !important;
		float: right;
		margin-right: 1%;
		margin-bottom: 15px;
	}
	.news-container .news-img img {
		width: 100%;
		margin-top: 20px;
	}

	.navbar-brand {
		padding: 0 15px 15px;
	}
	.navbar-toggle {
	  border:1px solid #fff;
	}

	.navbar-toggle .icon-bar {
	  background-color: #fff;
	}
	.navbar-right li a {
		font-size: 13px;
		padding-bottom: 8px;
		padding-top: 10px;
	}

	.top-header,.bottom-header{
		height: auto !important;
		padding: 10px;
	}
	.top-header .info-list li{
		margin: 0px 15px !important;
	}

	.bottom-header .navbar-header{
		/*width: 18%;*/
		float: right;
	}
	.bottom-header .navbar-toggle{
		/*width: 69%;*/
		float: right;
		margin-top: 1px;
	}
	.nav.navbar-nav{
		position: absolute;
		width: 250px;
		top: 40px;
		right: 40px;
		z-index: 9999999999999999;
	}
	.nav.navbar-nav li,.nav.navbar-nav li a{
		background: #585858;
		border-bottom: 2px solid #fff;
		z-index: 9999999999999999;
	}

.navbar-collapse,.navbar-collapse ul.nav{
min-height:290px !important;
height:auto !important;
position: absolute;
right: 25px;
z-index: 9999999999999999;
}
.navbar-collapse ul.nav{
top:0 !important;
margin-top:0px !important
}
.navbar-collapse{
  top:93px !important;
 overflow-y:hidden !important;
overflow-x:hidden !important;
}
	.bottom-header .col-lg-9{
		width: 30% !important;
		float: right;
	}
	.bottom-header .col-lg-3{
		width: 70% !important;
		float: left;
	}
	.logo-register-div{
		z-index: 1000;
	}
	.navbar-collapse{
		width: 250px !important;
		right: 10px !important;
		margin-top: -45px !important;
		z-index: 1001;
	}


	.block-title{
		margin-bottom: 70px;
	}

	.banners-containers .col-sm-4{
		width: 32%;
		float: right;
		margin-right: 1%;
	}

	.banners-containers .one-banner{
		margin-bottom: 20px;
	}
	.banners-containers .one-banner .item img{
		width: 100% !important;
	}
	.appstore,.appstore-containers,.top-footer,.bottom-footer{
		height: auto !important;
	}
	.appstore-containers{
		background: none;
	}
	.appstore-containers .col-sm-3{
		width: 40%; !important;
		float: right;
	}
	.appstore-containers .col-sm-5{
		width: 60%; !important;
		float: right;
	}
	.appstore-containers .col-sm-4{
		width: 100% !important;
		clear: both;
	}
	.store-links{
		height: 70px;
	}
	.app-name-logo,.store-links,.app-available{
		margin-right: 1%;
	}
	.footer-logo{
		text-align: center;
	}
	.mail-list-div{
		height: 50px;
	}
	.footer-ma3rof {
		margin-left: 0;
		text-align: center;
		padding-top: 30px;
	}

	.footer-copywrite{
		font-size: 10px;
	}

	.top-footer .col-sm-4,.top-footer .col-sm-2{
		width: 50% !important;
		float: right;
	}
	.footer-ma3rof img{
		margin-top: 30px;
	}





	.facility-register-form .input-group p {
		width: 15% !important;
	}

	.facility-register-form .input-group label.pull-left {
		width: 20% !important;
	}

	.facility-register-form .input-group input[type='text'],
	.facility-register-form .input-group textarea,
	.facility-register-form .input-group .main_button,
	.facility-register-form .input-group input[type='password'],
	.facility-register-form .input-group input[type='email'],
	.facility-register-form .input-group .select-continer,
	.facility-register-form .input-group .input-with-icon{
		width: 65% !important;
	}
	.facility-register-form  .input-group .pull-left:nth-child(4) {
		width: 35% !important;
	}
	.facility-register-form .input-group .input-with-icon input {
		width: 100% !important;
	}

}

@media (max-width: 641px) {

	.services-container .col-sm-2 {
		width: 33%;
		float: right;
	}
	.appstore-containers .col-sm-5{
		display: none !important;
	}
	.top-footer .col-sm-4,.top-footer .col-sm-2{
		width: 100% !important;
	}
	.footer-ma3rof img{
		margin-top: 0px;
	}

	.news-container .col-sm-3,
	.one-facility-container .col-sm-3,
	.one-partners-container .col-sm-4,
	.one-news-container .one-news,
	.banners-containers .col-sm-4,
	.projects .col-sm-4{
		width: 100% !important;
		margin-bottom: 15px;
	}


	.register-form .input-group label {
		width: 30%;
	}
	.register-form .input-group input[type='text'], .register-form .input-group textarea, .register-form .input-group .main_button {
		width: 70%;
	}





	.register-form.facility-register-form{
		padding-top: 75px !important;
	}
	.facility-register-form .input-group p {
		width: 0% !important;
	}

	.facility-register-form .input-group label.pull-left {
		width: 30% !important;
	}

	.facility-register-form .input-group input[type='text'],
	.facility-register-form .input-group textarea,
	.facility-register-form .input-group .main_button,
	.facility-register-form .input-group input[type='password'],
	.facility-register-form .input-group input[type='email'],
	.facility-register-form .input-group .select-continer,
	.facility-register-form .input-group .input-with-icon{
		width: 70% !important;
	}
	.facility-register-form  .input-group .pull-left:nth-child(4) {
		width: 30% !important;
	}
	.facility-register-form .input-group .input-with-icon input {
		width: 100% !important;
	}


}

@media (max-width: 539px) {
	.app-name-logo,.store-links,.app-available{
		margin-right: 50px;
	}
	.services-container .col-sm-2{
		width: 50%;
		float: right;
	}
	.search-div input{
		width: 165px;
	}


	.user-info{
		margin-bottom: 25px;
		margin-top: 0;
		clear: both;
	}
	.inner-header-2-div{
		height: auto;
		padding: 10px;
	}
	.user-image{
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.bookmark-container .select-continer{
		width: 40%;
	}
}


