
@font-face {
  font-family: 'Al-Jazeera-Arabic-Regular';
  src: url('../fonts/Al-Jazeera-Arabic-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Al-Jazeera-Arabic-Regular.woff') format('woff'), url('../fonts/Al-Jazeera-Arabic-Regular.ttf')  format('truetype'), url('../fonts/Al-Jazeera-Arabic-Regular.svg#Al-Jazeera-Arabic-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Al-Jazeera-Arabic-Light';
  src: url('../fonts/Al-Jazeera-Arabic-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Al-Jazeera-Arabic-Light.woff') format('woff'), url('../fonts/Al-Jazeera-Arabic-Light.ttf')  format('truetype'), url('../fonts/Al-Jazeera-Arabic-Light.svg#Al-Jazeera-Arabic-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'DroidArabicKufi';
	src: url('../fonts/DroidArabicKufi.eot?#iefix') format('embedded-opentype'),  url('../fonts/DroidArabicKufi.woff') format('woff'), url('../fonts/DroidArabicKufi.ttf')  format('truetype'), url('../fonts/DroidArabicKufi.svg#DroidArabicKufi') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'JannaLT-Regular';
	src: url('../fonts/JannaLT-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/JannaLT-Regular.woff') format('woff'), url('../fonts/JannaLT-Regular.ttf')  format('truetype'), url('../fonts/JannaLT-Regular.svg#JannaLT-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Al-Jazeera-Arabic-Bold';
	src: url('../fonts/Al-Jazeera-Arabic-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Al-Jazeera-Arabic-Bold.woff') format('woff'), url('../fonts/Al-Jazeera-Arabic-Bold.ttf')  format('truetype'), url('../fonts/Al-Jazeera-Arabic-Bold.svg#Al-Jazeera-Arabic-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

html,body,div,p,h1,h2,h3,h4,h5,h6,span,table,th,td,tr,thead,tfoot,button,a,font,b,ul,li,ol,input,select,textarea{
	font-family: Al-Jazeera-Arabic-Regular;
	/*font-family: Al-Jazeera-Arabic-Light;*/
	/*font-family: Al-Jazeera-Arabic-Bold;*/
	/*font-family: DroidArabicKufi;*/
	/*font-family: JannaLT-Regular*/
}
*{
	outline: none !important;
}
a:hover{
	text-decoration: none !important;
}
/* main-colors-bg       main         top      search   bottom    white    app     */
/* main-colors-bg       3090a3       383838   646464   585858    ffffff   f2f2f2  */
/* main-colors     ffffff  e7e7e7    9f9f9f   c7c7c7   ffffff    3090a3   b0b0b0  */
/* 30 40 35 490 160 */

.main-color-bg{
	background: #3090a3;
}
.main-color-color{
	color: #3090a3;
}
.main-color-color2{
	color: #3190a3;
}

#header,#body,#footer{
	width: 100%;
	height: auto;
}

/*************************************************************************************/
/*************************************** Header **************************************/
/*************************************************************************************/
.top-header{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #383838;
}
.info-list{
	padding: 0;
	margin: 0;
	list-style: none;
}
.info-list li{
	color: #9f9f9f;
	float: left;
	margin-left: 30px;
	font-family: Myriad Pro;
	font-size: 14px;
}
.info-list li:first-child{
	margin-left: 0!important;
}
.info-list li i{
	display: inline-block;
	float: left;
	font-size: 20px;
	margin-left: 0;
	margin-right: 5px;
	margin-top: 4px;
}

.bottom-header{
	width: 100%;
	height: 40px;
	background: #585858;
}

.bottom-header .main-nav ,
.bottom-header .main-nav .nav,
.bottom-header .main-nav .nav li ,
.bottom-header .main-nav .nav li a{
	height: 39px;
	line-height: 39px;
	padding: 0 10px;
	color: #fff !important;
}
.bottom-header .main-nav .nav li{
	padding: 0;
}

.nav>li.active>a,.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: #1e839a !important;
	border-bottom: 2px solid #fff;
	background: url('../images/menuup.png') no-repeat;
	background-position: bottom center;
}

.search-div input{
	width: 190px;
	height: 39px;
	border: 0;
	background: #646464;
	color: #c7c7c7;
	float: left;
	padding: 0 10px;
}
.search-div button{
	width: 39px;
	height: 39px;
	border: 0;
	background: #646464;
	left: 0;
	text-align: center;
	color: #c7c7c7;
	line-height: 40px;
	float: left;
}

.search-div input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #c7c7c7;
}
.search-div input::-moz-placeholder { /* Firefox 19+ */
	color: #c7c7c7;
}
.search-div input:-ms-input-placeholder { /* IE 10+ */
	color: #c7c7c7;
}
.search-div input:-moz-placeholder { /* Firefox 18- */
	color: #c7c7c7;
}
/************************************* End Header ************************************/
/*===================================================================================*/

/*************************************************************************************/
/***************************************  Body  **************************************/
/*************************************************************************************/
.logo-register-div{
	width: 100%;
	height: 490px;
	background: url('../images/header-bg.png') no-repeat #3090a3;
	background-size: 100% 100%;
	color: #fff;
}
.buttons .btn{
	border-radius: 0 !important;
	height: 35px;
	line-height: 25px;
	border: 0 !important;
	color: #636363 !important;
	padding-right: 30px;
	padding-left: 30px;
}
.buttons .btn:hover{
	background: #636363 !important;;
	color: #fff !important;
}
.logo{
	margin-top: 70px;
}
.logo-title{
	margin-top: 20px;
}
.buttons{
	margin-top: 30px;
}



.services{
	width: 100%;
	/*height: 880px;*/
	height: auto;
	background: url('../images/service_bg.png') repeat-y #f2f2f2;
	background-size: 100% auto;
}
.block-title{
	margin-top:24px;
	margin-bottom: 40px;
}
.title-icon{
	width: 40px;
	height: 40px;
	background: #fff;
	color: #3090a3;
	text-align: center;
	font-size: 25px;
	padding: 0;
	margin: 0;
}
.title-icon i{
	line-height: 37px;
	margin-top: 3px;
	margin-right: -1.5px;
}
.title-text{
	width: auto;
	height: 40px;
	background: #20a5c1;
	color: #fff;
	text-align: center;
	padding: 0 20px;
	position: relative;
	font-size: 17px;
	line-height: 40px;
}
.title-text .arrow-left{
	position: absolute;
	right: 0;
	top: 40%;
}
.one-service{
	width: 160px;
	height: 160px;
	background: #fff;
	color: #3090a3;
	border-radius: 100%;
	text-align: center;
	margin-bottom: 35px;
}
.one-service i{
	margin-top: 30px;
	font-size: 66px;
}
.one-service img{
	width: 70px;
	margin-top: 25px;
}
.one-service p{
	margin-top: 10px;
	font-size: 16px;
}
a:hover .one-service{
	background: #3090a3;
	color: #fff;
}
a:hover .one-service img{
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
}


.news{
	width: 100%;
	/*height: 380px;*/
	height: auto;
	padding-bottom: 20px;
	background: url('../images/news_bg.png') repeat-x  #3090a3;
}
.one-news{
	border-bottom: 1px solid #4c9fb0;
}
.news-img{
	width: 100%;
	height: 150px;
	overflow: hidden;
}
.news-img{
	width: 100%;
	height: auto;
}
.news-title{
	height: auto;
	line-height: 35px;
	width: 100%;
}
.news-title span{
	font-family: Al-Jazeera-Arabic-Bold;
	color: #fff;
}
.news-title a:hover span{
	color: #c7f6ff;
}
.news-details{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #c7f6ff;
}
.news-details span,.news-details i{
	color: #c7f6ff;
}

.news-details a:hover span,.news-details a:hover i{
	color: #fff;
}


.banners{
	width: 100%;
	padding: 70px 0 55px 0;
	/*height: 370px;*/
	height: auto;
	background: #fff;
}
.one-banner{
	width: 100%;
	height: 245px;
	background: #ccc;
	overflow: hidden;
	border: 1px solid #c1c5c8;
}
.one-banner .item , .one-banner .item img{
	height: 245px !important;
	width: auto !important;
}

.owl-dots{
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: auto;
	height: 10px;
}
.owl-dot{
	background: #32c2de;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	float: right;
	margin: 0 2.5px;
}
.owl-dot.active{
	background: #fff;
}
.banner-title{
	color: #fff;
	position: absolute;
	bottom: 10px;
	right: 10px;
	height: auto;
	width: auto;

}



.appstore{
	width: 100%;
	height: 330px;
	background:#f2f2f2;
	overflow: hidden;
}
.appstore-containers{
	width: 100%;
	height: 330px;
	background: url('../images/appstore_bg2.png') no-repeat right bottom;
}
.app-name-logo{
	font-size: 46px;
	font-family: Al-Jazeera-Arabic-Bold;
	color: #b0b0b0;
	margin-right: 25px;
	margin-top: 60px;
	line-height: 87px;
}
.app-name-logo img{
	width: 87px;
	height: 87px;
}
.app-available{
	margin-right: 25px;
	font-family: Al-Jazeera-Arabic-Light;
	color: #b0b0b0;
	font-size: 30px;
}

.app-mobile{
	width: 9%;
}
.app-mobile img{
	z-index: 1999;
	position: relative;
	margin-top: 25px;
}
.app-screenshot{
	width: 91%;
}
.store-links{
	width: 100%;
	margin-right: 25px;
}
.store-links a img{
	width: 100px;
	float: right;
	margin: 10px 2.5px 10px 10px;
}
.store-links a:hover img{
	opacity: 0.7;
}
.poll{
	width: 100%;
	height: 280px;
	background: #fff;
	margin: 30px 0 20px 0;
}

.block-title-reflex {
	margin-top: 0;
	margin-bottom: 0;
}
.block-title-reflex .title-icon {
	background: #3090a3;
	color: #fff;
}
.block-title-reflex .title-text {
	background: #fff;
	color: #3090a3;
}

.poll-title{
	color: #3090a3;
	font-size: 16px;
	margin-top: 25px;
}

/*************************************************************************************/
.poll-vote-list{
	list-style: none;
	padding: 0;
	margin: 30px 0 5px 0;
}
.poll-results-list {
	display: none;
}

.poll-block ul li {
	background: none;
	padding: 0 0 8px 0;
}

.poll-block ul li label {
	color: #d2d2d2;
	font-family: Al-Jazeera-Arabic-Light;
	width: 12%;
}

.poll-block ul li input,
.poll-block ul li label {
	float: right;
}

.poll-block ul li input {
	margin-left: 7px;
}

ul.poll-results-list {
	padding-top: 2px;
	padding-bottom: 1px;
}

ul.poll-results-list li {
	position: relative;
}

.percentage {
	color: #d7d7d7;
	margin-right: 15px;
}

.nul {
	width: 0;
}

.out-bar {
	background: #d7d7d7;
	height: 7px;
	position: relative;
	margin-top: 6px;
	margin-right: 15px;
	width: 60%;
	float: right;
	border-radius: 5px;
}

.inner-bar,
.voted {
	background: #3090a3;
	height: 7px;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 5px;
}

.vote-button a{
	background: #3190a3 !important;
	height: 30px !important;;
	line-height: 30px !important;;
	padding: 0 20px !important;;
	border-radius: 0 !important;;
}


input[type='radio']:after {
	width: 18px;
	height: 18px;
	top: 1px;
	left: 2px;
	border-radius: 100%;
	position: relative;
	background-color: #d2d2d2;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 3px solid #d2d2d2;
}

input[type='radio']:checked:after {
	width: 18px;
	height: 18px;
	top: 1px;
	left: 2px;
	border-radius: 100%;
	position: relative;
	background-color: #3090a3;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 3px solid #d2d2d2;
}
input[type=checkbox], input[type=radio] {
	margin: 1px 0 0;
}
/*************************************************************************************/

/*************************************  End Body  ************************************/
/*===================================================================================*/

/*************************************************************************************/
/*************************************** Footer **************************************/
/*************************************************************************************/
.top-footer{
	width: 100%;
	height: 270px;
	background: #fff;
}
.footer-logo{
	margin-top: 40px;
}
.footer-links{
	margin-top: 30px;
}
.footer-links ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer-links ul li::before {
	content: " • ";
	/*color: #3baeda;*/
	color: #3090a3;
}
.footer-links ul li a{
	color: #d1d1d1;
	font-size: 16px;
	line-height: 26px;
	margin-right: 7px;
}
.footer-links ul li a:hover{
	color: #3090a3;
}
.follow-us{
	width: 100%;
	height: auto;
	margin-top: 60px;
}
.follow-us .title,
.mail-list .title{
	width: 100%;
	color: #d1d1d1;
}
.follow-us-icons{
	width: 100%;
	margin: 15px 0 30px 0;
	padding: 0;
	list-style: none;
}
.follow-us-icons li{
	float: right;
	margin-left: 10px;
}
.follow-us-icons li i{
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	border-radius: 100%;
	background: #000;
	color: #fff;
	font-size: 20px;
}
.follow-us-icons li a:hover i{
	color: #000;
}

.follow-us-icons li i.fa-facebook{
	background: #0f75bc;
}
.follow-us-icons li i.fa-twitter{
	background: #25aae1;
}
.follow-us-icons li i.fa-skype{
	background: #0593d3;
}
.follow-us-icons li i.fa-linkedin{
	background: #283891;
}
.follow-us-icons li i.fa-google-plus{
	background: #c04130;
}

.mail-list{
	width: 100%;
	height: auto;
	margin-top: 30px;
}
.mail-list-div{
	margin-top: 10px;
}
.mail-list-div input{
	width: 230px;
	height: 39px;
	border: 0;
	background: #f5f5f5;
	color: #d1d1d1;
	border: 1px solid #d1d1d1;
	border-radius: 0 5px 5px 0 ;
	float: right;
	padding: 0 10px;
}
.mail-list-div button{
	width: 39px;
	height: 39px;
	border: 0;
	background: #004b7f;
	left: 0;
	text-align: center;
	color: #fff;
	line-height: 40px;
	float: right;
	border-radius: 5px 0 0 5px;
}

.mail-list-div input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #d1d1d1;
}
.mail-list-div input::-moz-placeholder { /* Firefox 19+ */
	color: #d1d1d1;
}
.mail-list-div input:-ms-input-placeholder { /* IE 10+ */
	color: #d1d1d1;
}
.mail-list-div input:-moz-placeholder { /* Firefox 18- */
	color: #d1d1d1;
}

.footer-ma3rof{
	margin-left: 60px;
}
.footer-ma3rof a:hover img{
	opacity: 0.8;
}

.bottom-footer{
	width: 100%;
	height: 60px;
	background: #3090a3;
	line-height: 60px;
}
.footer-copywrite{
	color: #e7e7e7;
}
/************************************* End Footer ************************************/
/*===================================================================================*/
.inner-footer{
	background: #f6f6f6;
}
.inner-header-1-div{
	width: 100%;
	height: 340px;
	background: url('../images/inner-1.png') no-repeat #3090a3;
	/*background-size: 100% 100%;*/
	background-size: auto auto;
	color: #fff;
}
.inner-header-2-div{
	width: 100%;
	height: 340px;
	background: url('../images/inner-2.png') no-repeat #3090a3;
	/*background-size: 100% 100%;*/
	background-size: auto auto;
	color: #fff;
}
.user-image{
	width: 180px;
	height: 180px;
	border-radius: 100%;
	border: 3px solid #fff;
	margin-top: 70px;
	margin-left: 25px;
	background: #fff;
}
.user-info{
	margin-top: 120px;
}
.user-info p:first-child{
	font-size: 20px;
}
.user-info p:nth-child(2){
	font-size: 16px;
	font-family: Al-Jazeera-Arabic-Light;
}
.user-info a{
	color: #fff;
	margin-left: 15px;
}
.user-info a i{
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
}
.user-info a:hover{
	color: #b8b8b8;
}

/*===================================================================================*/

.bookmark-container{
	background: #e8f6f9;
	width: 100%;
	height: 45px;
	line-height: 45px;
	border-right: 5px solid #3090a3;
	margin: 15px 0;
}
.bookmark-link{
	list-style: none;
	margin: 0 10px;
	padding: 0;
	float: right;
}
.bookmark-container .arrow-left{
	float: right;
	display: inline-block;
	margin-top: 18px;
}
.bookmark-link li{
	float: right;
	margin-left: 10px;
}
.bookmark-link li span{
	color:  #3090a3;
	font-family: Al-Jazeera-Arabic-Light;
}
.bookmark-link li a span {
	font-family:Al-Jazeera-Arabic-Bold;
	font-weight: bold;
}

.inner-content{
	width: 100%;
	min-height: 100px;
	padding-bottom: 75px;
}
/*===================================================================================*/
.side-bar-buttons{
	margin-top: 15px;
	margin-bottom: 50px;
}
a:hover .side-bar-button,a.active .side-bar-button{
	background: #efeeee;
	color: #909090;
}
a:hover .side-bar-button i,a.active .side-bar-button i{
	background: #d7d7d7;
	color: #5c5c5c;
}
.side-bar-button{
	width: 100%;
	height: 45px;
	background: #2db6d2;
	color: #fff;
	line-height: 45px;
	border: 1px solid #fff;
	clear: both;
}
.side-bar-button i{
	width: 50px;
	height: 43px;
	background: #219bb4;
	color: #fff;
	text-align: center;
	line-height: 43px;
	margin-left: 15px;
	font-size: 24px;

	margin-right: 0 !important;
}



.side-bar-buttons a:hover .side-bar-button,.side-bar-buttons a.active .side-bar-button{
	background: #2db6d2;
	color: #fff;
}
.side-bar-buttons a:hover .side-bar-button i,.side-bar-buttons a.active .side-bar-button i{
	background: #219bb4;
	color: #fff;
}
.side-bar-buttons .side-bar-button{
	width: 100%;
	height: 45px;
	background: #efeeee;
	line-height: 45px;
	color: #909090;
	border: 1px solid #fff;
	clear: both;
}
.side-bar-buttons .side-bar-button i{
	width: 50px;
	height: 43px;
	background: #d7d7d7;
	color: #5c5c5c;
	text-align: center;
	line-height: 43px;
	margin-left: 15px;
	font-size: 24px;

	margin-right: 0 !important;
}
.side-bar-button p{
	margin-bottom: 0;
	margin-left: 15px;
}

.adv{
	width: 100%;
	height: 210px;
	overflow: hidden;
	position: relative;
	margin: 15px 0;
}
.adv img{
	width: 100%;
	height: auto;
}
.adv span{
	position: absolute;
	top: 40%;
	right: 30%;
	font-size: 20px;
	color: #fff;
}

.register-form input[type='text'],.register-form input[type='password'],.register-form input[type='email']{
	height: 45px;
	line-height: 43px;
	width: 100%;
	border: 1px solid #d7d7d7;
	border-radius: 0;
	margin-bottom: 15px;
	padding: 0 15px;
	background: #fff;
}
.register-form textarea{
	height: 225px;
	line-height: 27px;
	width: 100%;
	border: 1px solid #d7d7d7;
	border-radius: 0;
	margin-bottom: 15px;
	padding: 15px;
	background: #fff;
}
.register-form select{
	height: 45px;
	line-height: 43px;
	width: 100%;
	border: 1px solid #d7d7d7;
	border-radius: 0;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	margin-bottom: 15px;
	padding: 0 15px 0 45px;
	background: #fff0;
}
.select-continer{
	width: 50%;
	position: relative;
}
.select-continer img{
	position: absolute;
	left: 15px;
	top: 17px;
	z-index: -1;
}
.main_button{
	background: #20a5c1;
	color: #fff;
	padding: 0 30px;
	text-align: center;
	line-height: 45px;
	border: 0;
	margin-bottom: 30px;
}

.main_button:hover{
	background: #d1d1d175;
	color: #20a5c1;
}
/*===================================================================================*/
.div-title{
	font-family: Al-Jazeera-Arabic-Light;
	color: #64c0cd;
	font-size: 16px;
	margin: 10px 0;
}
.one-news-container .one-news{
	margin-bottom: 15px;
	border-color: #7fc9d4;
}
.one-news-container .news-title span{
	font-family: Al-Jazeera-Arabic-Regular;
	color: #3eafcf;
}
.one-news-container .news-details a:hover span,.one-news-container .news-details a:hover i{
	color:#3eafcf;
}
.one-news-container .news-img{
	height: 150px;
}
.one-news-container .news-details span, .news-details i {
	color: #b8b8b8;
}

.one-news-container .one-news .news-img img{
	width: 100%;
	max-height: 155px;
	height: auto;
}

.news-date{
	color: #b8b8b8;
}
.news-dis{
	margin: 30px 0;
	color: #b8b8b8;
	line-height: 25px;
}

.facilities{
	width: 100%;
}
.one-facility{
	border: 1px solid #e1e1e1;
	width: 49%;
	float: right;
	margin-bottom: 15px;
}
.one-facility:first-child{
	margin-left: 2%;
}
.facility-img{
	width: 100%;
	height: 110px;
	overflow: hidden;
	border-bottom: 1px solid #e1e1e1;
	position: relative;
}
.facility-img img{
	position: absolute;
	width: 100%;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	margin: auto;
}
a:hover .facility-img img{
	opacity: 0.7;
}
a:hover .facility-title{
	color: #b8b8b8;
}
.facility-title{
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #64c0cd;
}

.one-news-main-image{
	margin-top:50px;
	width: 100%;
	overflow: hidden;
	height: 185px;
	border: 1px solid #e1e1e1;
}
.one-news-main-image img{
	min-width: 100%;
	width: auto;
	height: 185px;
}
.one-news-image{
	width: 49%;
	height: 85px;
	border: 1px solid #e1e1e1;
	margin-top: 15px;
	margin-bottom: 15px;
	overflow: hidden;
}
.one-news-image img{
	min-width: 100%;
	width: auto;
	height: 85px;
}
/*===================================================================================*/
.one-facility-container .one-facility{
	width: 100%;
	height: 155px;
	margin-bottom: 15px;
	position: relative;
}
.one-facility-container .one-facility .facility-img ,.one-facility-container .one-facility .facility-img  img{
	height: 155px;
	width: 100%;
}
.one-facility-container .one-facility .facility-title{
	position: absolute;
	bottom: -1px;
	height: auto;
	text-align: right;
	padding: 0 15px 5px 0;
	background: #22a6c0;
	background: -moz-linear-gradient(top, #22a6c000 0%,#22a6c087 30%,#22a6c0 80%);
	background: -webkit-linear-gradient(top, #22a6c000 0%,#22a6c087 30%,#22a6c0 80%);
	background: linear-gradient(to bottom, #22a6c000 0%,#22a6c087 30%,#22a6c0 80%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22a6c0', endColorstr='#22a6c0',GradientType=0 ); /* IE6-9 */
}
.one-facility-container .one-facility .facility-title span{
	color: #fff;
}
.one-facility-container .one-facility a:hover  span{
	color: #e1e1e1;
}
.one-facility-container .one-facility .facility-details{
	position: absolute;
	top: 10px;
	left: 0;
	text-align: right;
	padding: 0 15px;
	color: #fff;
}
.one-facility-container .one-facility .facility-details i{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 22px;
	color: #3090a3;
	background: #ffffffe0;
	border-radius: 100%;
	display: inline-block;
	vertical-align: middle;
}

.facility-details-ul ul{
	list-style: none;
	margin: 0 0 30px 0;
	padding: 0;
}
.facility-details-ul ul li{
	line-height: 27px;
}
.facility-details-ul ul li i{
	color: #3090a3;
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	width: 40px;
	text-align: center;
}
.facility-details-ul ul li span{
	color: #b8b8b8;
}
.one-facility-news-container .one-facility , .one-facility-news-container .one-facility .facility-img ,.one-facility-news-container .one-facility .facility-img img{
	height: 170px;
}
.one-facility-news-container .one-facility  .facility-title i{
	color: #fff;
}
.one-facility-news-container .one-facility  .facility-title .pull-left{
	margin-top: -7px;
}

.facility-works{
	width: 100%;
	height: 110px;
	background: #efefef;
	padding: 15px;
	margin-bottom: 50px;
}
.owl-works .item img{
	height: 80px;
	border:1px solid #ccc;
}

/*===================================================================================*/
.one-partners-container .one-facility{
	width: 100%;
	min-height: 170px;
	height: auto;
	margin-bottom: 15px;
	position: relative;
	border: 0;
}
.one-partners-container .one-facility .facility-img ,.one-partners-container .one-facility .facility-img  img{
	height: 170px;
	width: 100%;
}
.one-partners-container .one-facility .facility-price{
	width: 100%;
	position: absolute;
	color: #fff;
	text-align: left;
	bottom: -1px;
	height: auto;
	padding: 0 0 5px 15px;
	background: #22a6c0;
	background: -moz-linear-gradient(top, #22a6c000 0%,#22a6c087 30%,#22a6c0 80%);
	background: -webkit-linear-gradient(top, #22a6c000 0%,#22a6c087 30%,#22a6c0 80%);
	background: linear-gradient(to bottom, #22a6c000 0%,#22a6c087 30%,#22a6c0 80%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22a6c0', endColorstr='#22a6c0',GradientType=0 ); /* IE6-9 */
}
.old-price{
	font-size: 26px;
	text-decoration: line-through;
	padding-left: 10px;
	margin-top: 7px;
}
.new-price{
	font-size: 34px;
	padding-left: 10px;
}
.price-name{
	text-align: right;
	font-size: 12px;
	font-family: Al-Jazeera-Arabic-Light;
}
.one-partners-container .one-facility .facility-title{
	width: 100%;
	height: 75px;
	border-bottom: 3px solid #20a5c1;
	background: #f9f9f9;
	text-align: right;
	padding: 10px 15px 0 15px;
}
.one-partners-container .one-facility .facility-title a span{
	color: #807f7f;
	font-size: 16px;
}
.one-partners-container .one-facility .facility-title .pull-left{
	margin-top: -7px;
}
.one-partners-container .one-facility .facility-title .pull-left span{
	color: #afafaf;
}
/*===================================================================================*/
.facility-img:hover .facility-img-hover{
	display: block;
}
.facility-img-hover{
	width: 100%;
	height: 100%;
	position: absolute;
	background: #3190a39e;
	text-align: center;
	line-height: 177px;
	display: none;
}
.facility-img-hover i{
	color: #fff;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background: #266e7cb8;
	font-size: 46px;
	border-radius: 100%;
}
/*===================================================================================*/
.bookmark-container .select-continer select{
	height: 33px;
	line-height: 32px;
	width: 97%;
	border: 1px solid #d7d7d7;
	border-radius: 0;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	margin-bottom: 15px;
	padding: 0 15px 0 45px;
	background: #fff;
}
.bookmark-container .select-continer{
	width: 25%;
	position: relative;
}
.bookmark-container .select-continer img{
	position: absolute;
	left: 15px;
	top: 17px;
	z-index: 0;
}
.register-form .input-group{
	width: 100%;
}
.register-form .input-group label{
	width: 15%;
	color: #3190a3;
	font-size: 15px;
	line-height: 45px;
}
.register-form .input-group  input[type='text'],.register-form .input-group  textarea,.register-form .input-group  .main_button{
	width: 65%;
}
/*===================================================================================*/
.register-user-form .input-group label{
	/*width: 25%;*/
	width: 32%;
}
.register-user-form .input-group  input[type='text'],
.register-user-form .input-group  textarea,
.register-user-form .input-group  .main_button,
.register-user-form .input-group input[type='password'],
.register-user-form .input-group input[type='email']
{
	/*width: 75%;*/
	width: 68%;
}
.required{
	color: #f00;
	font-family: tahoma;
	padding: 3px;
}
.register-form-info{
	width: 100%;
	height: auto;
	border-right:2px solid #e1e1e1;
	padding: 1px 15px;
}
.register-form-info p{
	color:#848484
}
.register-form-info .title{
	color: #3190a3 ;
}
.register-form-info .title::before {
	content: " • ";
	/*color: #3baeda;*/
	color: #3090a3;
}
/*===================================================================================*/
.side-bar-contract-buttons{
	margin-top: 15px;
	margin-bottom: 50px;
}
.side-bar-contract-buttons a:hover .side-bar-button,.side-bar-contract-buttons a.active .side-bar-button{
	background: #6a9e27;
	color: #fff;
}
.side-bar-contract-buttons a:hover .side-bar-button i,.side-bar-contract-buttons a.active .side-bar-button i{
	background: #50791b;
	color: #fff;
}
.side-bar-contract-buttons .side-bar-button{
	width: 100%;
	height: 45px;
	background: #efeeee;
	line-height: 45px;
	color: #909090;
	border: 1px solid #fff;
	clear: both;
}
.side-bar-contract-buttons .side-bar-button i{
	width: 50px;
	height: 43px;
	background: #d7d7d7;
	color: #5c5c5c;
	text-align: center;
	line-height: 43px;
	margin-left: 15px;
	font-size: 24px;
	margin-right: 0 !important;
}
.bell{
	background: #6a9e27 !important;
	color: #fff !important;
	text-align: center !important;
	width: 24px !important;
	height: 24px !important;
	line-height: 24px !important;
	border-radius: 100%;
	margin: 10px;
	font-size: 10px !important;
	font-family: tahoma;
	font-style: normal;
}
.contract textarea{
	height: 150px;
}
.facility-information{
	width: 99.4%;
	min-height: 100px;
	height: auto;
	background: #efeeee;
	border-bottom: 3px solid #3090a3;
	margin: 1px;
	text-align: center;
	padding: 15px 35px;
}
.facility-information img:first-child{
	max-width: 100%;
	max-height: 230px;
}
.facility-information  .facility-details-ul li{
	text-align: right;
}
/*===================================================================================*/
.projects{
	width: 104%;
	height: auto;
	margin-right: -15px;
}
.one-project{
	width: 100%;
	height: 175px;
	background: #ebebeb;
	padding: 5px;
	margin-bottom: 30px;
}
.one-project img{
	max-width: 100%;
	width: 100%;
	max-height: 125px;
	height: 125px;
}
.one-project-title{
	color: #20a5c1;
	width: 100%;
	line-height: 45px;
}
.one-project-title span{
	font-family: Al-Jazeera-Arabic-Bold;
}
.one-project-title a{
	line-height: 55px;
}
.one-project-title a i{
	width: 30px;
	height: 30px;
	line-height: 20px;
	font-size: 20px;
	text-align: center;
	color: #20a5c1;
}
/*===================================================================================*/
.facility-register-form{
	margin-top: 30px;
	border-top:2px solid #20a5c1;
	padding: 30px 0px 0px 0px;
	position: relative;
}
.facility-register-form .input-group p{
	width: 10%;
}
.facility-register-form .input-group label.pull-left{
	width: 15%;
}
.facility-register-form .input-group .pull-left:nth-child(4){
	width: 10%;
	text-align: left;
	padding-left: 15px;
	color: #b6b6b6;
}
.facility-register-form .input-group  input[type='text'],
.facility-register-form .input-group  textarea,
.facility-register-form .input-group  .main_button,
.facility-register-form .input-group input[type='password'],
.facility-register-form .input-group input[type='email'],
.facility-register-form .input-group .select-continer,
.facility-register-form .input-group .input-with-icon
{
	width: 32.5%;
}
.facility-register-form .input-group  textarea{
	width: 75%;
}
.facility-register-form .input-group .input-with-icon input{
	width: 100%;
}
.facility-register-form .heading-icon{
	position: absolute;
	top: 0;
	right: 0;
	background: #20a5c1;
	text-align: center;
	width: 85px;
	height: 55px;
	line-height: 55px;
	font-size: 40px;
	color: #fff;
}
.input-with-icon{
	position: relative;
}
.input-with-icon>i{
	top: 0;
	right: 0;
	color: #7f7f7f;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	position: absolute;
	font-size: 24px;
}
.input-with-icon>input{
	padding-right: 50px !important;
}
.input-group .note{
	color: #acacac;
}

.input-group{
	color: #a3a3a3;
}
.input-group input[type='radio']{
	height: 20px;
	margin: 15px;
}

.input-group input[type='radio']:last-child{
	margin-right: 50px;
}

.facility-register-form .main_button{
	margin-bottom: 80px;
}
